.uk-animation-fade {
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

.uk-scroll {
  animation-duration: 2.4s;
}

.uk-heading-hero {
  margin-top: 15%;
  font-size: 4em;
}

.center-div {
  margin:auto;
  text-align: center;
}

.projects-container {
  max-width: 900px;
  margin: auto;
}
