.uk-animation-fade {
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

.uk-scroll {
  animation-duration: 2.4s;
}

.uk-heading-hero {
  font-size: 4em;
}

.uk-icon-button {
  backcolor: #d6d6d6;
}

.center-div {
  margin:auto;
  text-align: center;
}

.skills-container {
  max-width: 900px;
  margin: auto;
  margin-bottom: 100px;
}

.projects-container {
  max-width: 900px;
  margin: auto;
}

.content {
            overflow-x: hidden;
            margin-bottom: -10px;
}

.uk-navbar-transparent {
  background-color: rgba(255,255,255,0);
}

.landing-header {
   background-image: url("images/header-spiral.svg");
   background-repeat: no-repeat;
}
