@media (min-width: 300px) and (max-width: 650px) {

    h1 {
        background-color: #F8F8F8;
    }

    .icons-in-box {
      display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 40px;
    }

    .view-projects-button {
      margin: auto;
      margin-bottom: 250px;
      margin-top: -50px
    }

} /* end break point */

h1 {
  font-family: "Proxima Nova";
  font-size: 5.5vmax;
}

h3 {
  font-family: "Proxima Nova";
  font-size: 1.8em;
}

h4 {
  font-family: "Proxima Nova";
  font-size: 1.5em;
  text-align: center
}

p {
  font-family: mr-eaves-sans, sans-serif;
  font-size: 1.4em;
  color: #333333;
  font-weight: lighter;
}

html {
    position: relative;
    min-height: 100%;
}



body {
  position: relative;
  margin: 0 0; /* bottom = footer height */
}

.uk-animation-fade {
    -webkit-animation-duration: 2.4s;
    animation-duration: 2.4s;
}

.uk-scroll {
  animation-duration: 2.4s;
}

.uk-heading-hero {
  font-size: 4em;
  color: black;
}

.uk-icon-button:hover {
  background-color: #848484;
}

.center-div {
  margin:auto;
  text-align: center;
}

.skills-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}

.projects-container {
  max-width: 1100px;
  opacity: 1.0;
  margin: auto;
}

.content {
            overflow-x: hidden;
            padding-bottom: -10px;
            height:100%;
}

.uk-navbar-transparent {
  background-color: rgba(255,255,255,0);
}

.landing-header {
   background-image: url("images/spiral-80.svg");
   background-repeat: no-repeat;
   background-position: 8%0%;
}

.projects-header {
   background-image: url("images/spiral1.svg");
   background-repeat: no-repeat;
   height: 800px;
   background-position: 90%5%;
}

.about-header {
   background-image: url("images/spiral2.svg");
   background-repeat: no-repeat;
   height: 800px;
   background-position: 90%5%;
}

.card-padding {
  padding: 15px;
}

.uk-button-primary {
  background-color: gray;
  width: 200px;
  height: 70px;
  margin: auto;
}

a.uk-button-primary {
font-size: 16px;
font-family: "Proxima Nova";
margin: auto;
padding-top: 15px;
text-align: center;
}

.uk-button-primary:hover {
background-color: #333333;
margin: auto;
padding-top: 15px;
text-align: center;
}

.footer {
   width: 100%;
   right: 0;
   bottom: 0;
   left: 0;
   padding: 1rem;
   background-color: black;
   position:relative;
   bottom: 0;
   font-size: 0.8em;
}

#bottom-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 120px;
    width: 100%;
    background-color: black;
}

#bottom-footer a {
  text-decoration: underline;
  color: white;
}

.footer a {
  text-decoration: underline;
  color: white;
}


#bottom-footer a:hover {
  text-decoration: underline;
  color: gray;
}

.footer a:hover {
  text-decoration: underline;
  color: gray;
}

.projects-header-container {
  margin-left: 50px;
  margin-right: 50px;

}

.social-icon-box {
  display: block;
  margin: auto;
  margin-bottom: 50px;
  padding: 0px;
  position: relative;
  height: auto;
  max-width: 200px;
  overflow-y: hidden;
  overflow-x:auto;
  background-color: #F8F8F8;
}

.icon-box {
  display: block;
  margin: 0px;
  padding: 0px;
  margin-bottom: -5px;
  position: relative;
  height: auto;
  max-width: 400px;
  overflow-y: hidden;
  overflow-x:auto;
}

.icons-in-box {
  display: inline-block;
margin: 0px;
padding: 0px;
width: 50px;
}

.skill-icon {
  font-size: 0.9em;
  margin-top: 1px;
  margin-bottom: -3px
}

.view-projects-button {
  margin: auto;
  margin-bottom: 200px;
  margin-top: -50px
}
